In [1]:
print("name")

name

In [2]:
print(name) #error because no variable of type string

NameError: name 'name' is not defined

String datatype in python

In [3]:
#string text can be encloded in 'xyz',"xyz",''' xyz''',""" xyz"""
name1:str = 'Ahmed'
name2:str = "Suhaib"
name3:str = '''Ali'''
name4:str = """Abbas"""
print(name1)
print(type(name1))
print(name2)
print(type(name2))
print(name3)
print(type(name3))
print(name4)
print(type(name4))
#all of them are considered that they are part of the class 'string'

Ahmed
<class 'str'>
Suhaib
<class 'str'>
Ali
<class 'str'>
Abbas
<class 'str'>

In [6]:
message:str = 'Suhaib's code'
print(message)
#error because compiler can not differenciate in single quotes ,where the string is over

SyntaxError: unterminated string literal (detected at line 1) (3185412297.py, line 1)

In [7]:
message:str = "Suhaib's code"
print(message)
#if you need single quotes in the string then use double quotes when writing the string

message2:str = 'my name is "Suhaib"'
print(message2)
#if you need double quotes in the string then enclose your string using single quotes

Suhaib's code
my name is "Suhaib"

In [8]:
#if you need to use one type of quotes inside and outside the sting as well so use \ before it to convert special character to simple character
message:str='this code is Suhaib\'s code'
print(message)
#this will resolve the error

this code is Suhaib's code

In [9]:
"a"+"b"

'ab'

In [10]:
#concatenation
name:str = "Suhaib Shaikh"
fname:str = "Shaikh Mohsin"
education:str = "Bachelors in Computer Science"
age:int = 20

card:str = "Student Card\nStudent name:" + name +"Age:" + age
#error because cannot concatenate varaibles of diiferent types ,age is an integer type variable,we need to convert it into string first

TypeError: can only concatenate str (not "int") to str

In [19]:
name:str = "Suhaib Shaikh"
fname:str = "Shaikh Mohsin"
education:str = "Bachelors in Computer Science"
age:int = 20

card:str = "Student Card\nStudent name:" + name +"\nAge:" + str(age)+"\nEducation:"+education
print(card)
#we had to typecast age and convert it into string in the way it has been done above
#now it will concatenate and work perfectly fine due to similar data types

Student Card
Student name:Suhaib Shaikh
Age:20
Education:Bachelors in Computer Science

In [18]:
print(5+6+7)
#the line can be changed anywhere and anytime,we just have to include back slash at the end, it has no effect on the code
#"\" line continue
print(5+\
      6+\
        7)

18
18


Multiline string,"""abc """,'''abc '''

In [20]:
name:str = "Suhaib Shaikh"
fname:str = "Shaikh Mohsin"
education:str = "Bachelors in Computer Science"
age:int = 20
#we can use single triple quotes of double triple quotes for a multiline string as shown below
card:str = """ 
Student Card
Student Name:....
Father's Name:....
Age:....
Education:......
"""
print(card)

Student Card
Student Name:....
Father's Name:....
Age:....
Education:......

F-string

In [23]:
name:str = "Suhaib Shaikh"
fname:str = "Shaikh Mohsin"
education:str = "Bachelors in Computer Science"
age:int = 20
#we can use f before the start of the string to use variable values inside the string
#after adding f we can use variables inside the string using curly brackets
card:str = f""" 
Student Card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education}
{2+8+9}#we can also run a numerical function inside f-string
"""
print(card)
#we did not have to typecast age. This is the advantage of using f-string

Student Card
Student Name: Suhaib Shaikh
Father's Name: Shaikh Mohsin
Age: 20
Education: Bachelors in Computer Science

F-string and jinja style

In [26]:
#jinja style
#two curly brackets
name:str = "Suhaib"
"""
student name: {{name}}
"""

'\nstudent name: {{name}}\n'

F-string continuation

In [27]:
name:str = "Suhaib Shaikh"
fname:str = "Shaikh Mohsin"
education:str = "Bachelors in Computer Science"
age:int = 20
card:str = f""" 
Student Card
Student Name: %s
Father's Name: %s
Age: %d
Education: %s

""" %(name,fname,age,education)
#this is another way of writing f-string
#this way is similar to C language

print(card)

Student Card
Student Name: Suhaib Shaikh
Father's Name: Shaikh Mohsin
Age: 20
Education: Bachelors in Computer Science

In [ ]:
name:str = "Suhaib Shaikh"
fname:str = "Shaikh Mohsin"
education:str = "Bachelors in Computer Science"
age:int = 20
card:str = f""" 
Student Card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education}
"""
print(card)

String Methods

In [29]:
[i for i in dir(str) if "__" not in i]
#lists down all string methods

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [31]:

name:str = "SuHaIb ShAiKH"
print(name.capitalize())#First word's first letter is capitalized using this method
print(name)

Suhaib shaikh
SuHaIb ShAiKH

In [32]:
name:str = "SuHaIb ShAiKH"
print(name.lower())#prints every letter in lowercase 
print(name)

suhaib shaikh
SuHaIb ShAiKH

In [33]:
name:str = "SuHaIb ShAiKH"
print(name.casefold())
#This method is similar to the lower() method, but the casefold() method is stronger, more aggressive, 
#meaning that it will convert more characters into lower case, and will find more matches when comparing two strings and both are converted using the casefold() method.


print(name)

suhaib shaikh
SuHaIb ShAiKH

In [37]:
name:str = "SuHaIb ShAiKH"
print(name.center(77))
print(name)
#The center() method will center align the string, using a specified character (space is default) as the fill character.

                                SuHaIb ShAiKH
SuHaIb ShAiKH

In [38]:
name:str = "SuHaIb ShAiKH"
print(name.title())
print(name)
#The title() method returns a string where the first character in every word is upper case. Like a header, or a title

Suhaib Shaikh
SuHaIb ShAiKH

In [40]:
a = 7
b = 8
# {} place holder
"pakistan value a = {} and value b = {}".format(a,b)
#the format method will place the first variable in first curly bracket's place and second variable in second curly bracket's place

'pakistan value a = 7 and value b = 8'

In [42]:
name:str = "Suhaib Shaikh"
fname:str = "Shaikh Mohsin"
education:str = "Bachelors in Computer Science"
age:int = 20
card:str = """ 
Student Card
Student Name: {}
Father's Name: {}
Age: {}
Education: {}
""".format(name,fname,age,education)
print(card)

Student Card
Student Name: Suhaib Shaikh
Father's Name: Shaikh Mohsin
Age: 20
Education: Bachelors in Computer Science

In [44]:
name:str = "Suhaib Shaikh"
fname:str = "Shaikh Mohsin"
education:str = "Bachelors in Computer Science"
age:int = 20
card:str = """ 
Student Card
Student Name: {2}
Father's Name: {1}
Age: {3}
Education: {0}
""".format(education,fname,name,age)#we can write format variable in any order but have to mention indexing in string using curly brackets and inside write index number
print(card)

Student Card
Student Name: Suhaib Shaikh
Father's Name: Shaikh Mohsin
Age: 20
Education: Bachelors in Computer Science

In [45]:
name:str = "Suhaib Shaikh"
fname:str = "Shaikh Mohsin"
education:str = "Bachelors in Computer Science"
age:int = 20
card:str = """ 
Student Card
Student Name: {a}
Father's Name: {b}
Age: {c}
Education: {d}
""".format(d=education,b=fname,a=name,c=age)#this is another way of writing code
print(card)

Student Card
Student Name: Suhaib Shaikh
Father's Name: Shaikh Mohsin
Age: 20
Education: Bachelors in Computer Science

In [48]:
add:str = """
print("My name is Muhammad Suhaib Shaikh")
a:int = 3
b:int = 4
print(a+b)
"""
exec(add)#the exec method will execute the contents in string variable as python code

My name is Muhammad Suhaib Shaikh
7

In [54]:
name:str = "     SuHaIb      ShAIkh      "
print(name.lstrip())#removes all spaces from left
print(name.rstrip())#removes all spaces from the right
print(name.strip())#removes spaces from left and as well as right
#does not removes spaces that are in between
display(name)

SuHaIb      ShAIkh
     SuHaIb      ShAIkh
SuHaIb      ShAIkh

'     SuHaIb      ShAIkh      '

In [ ]:
import re
name:str ="     Muhammad     Suhaib       "
display(name)
name1:str = re.sub('{2,100}',' ',name).strip()
display(name1)

In [56]:
name:str = "Suhaib Shaikh"
print(name.lower())#prints string in lowercase
print(name.upper())#prints string in uppercase

suhaib shaikh
SUHAIB SHAIKH

In [58]:
#\n,\t,\b are special meaning whitespace characters
print("Suhaib \nShaikh")#\n is used for a new line
print("Suhaib \tShaikh")#\t is used for some space
print("Suhai\bb Shaikh")#\b is used for backspace

Suhaib
Shaikh
Suhaib 	Shaikh
Suhab Shaikh

In [60]:
1name:str = "Qasim"
print(1name)
#error because name cannot start with any number according to standard naming conventions

SyntaxError: invalid decimal literal (378111816.py, line 1)

In [61]:
piaic student name:str = "Qasim"
#error because a variable cannot contain spaces in between them according to standard naming conventions
#replace spaces with underscore

SyntaxError: invalid syntax (2463306952.py, line 1)

In [62]:
piaic_student_name:str = "Qasim"
#this is the correct way