LIST
* iteration operation with loop
* apply any operation on an element

In [1]:
names: list[str] = ['Suhaib','Ali','Ahmed']
print(names)

['Suhaib', 'Ali', 'Ahmed']

In [2]:
names: list[str] = ['Suhaib','Ali','Ahmed']
#iterations using for loop
for name in names:
    print(name)

Suhaib
Ali
Ahmed

In [4]:
names: list[str] = ['Suhaib','Ali','Ahmed']
#indentation shows that the code is part of loop
for name in names:
    print(name)
    print("hello\n") # part of loop because written with indentation

Suhaib
hello

Ali
hello

Ahmed
hello

In [10]:
nameames: list[str] = ['Suhaib','Ali','Ahmed']
#indentation shows that the code is part of loop
for name in names:
    print(name)
    print("hello\n")

print("pakistan zindabad")#not part of loop because no indentation given
#this will print once

Suhaib
hello

Ali
hello

Ahmed
hello

pakistan zindabad

In [9]:
for name in names:
    print(f'Welcome dear {name.title()}')
    print("Python developer\n")

Welcome dear Suhaib
Python developer

Welcome dear Ali
Python developer

Welcome dear Ahmed
Python developer

In [12]:
names: list[str] = ['Suhaib','Ali','Ahmed']
for name in names[::-1]:#will traverse in reverse order
    print(name)
    print("hello\n")

print("pakistan zindabad")

Ahmed
hello

Ali
hello

Suhaib
hello

pakistan zindabad

In [13]:
names: list[str] = ['Suhaib','Ali','Ahmed']
#can use slicing if we do not want to traverse all elements in the list
for name in names[1::]:
    print(name)
    print("hello\n")

print("pakistan zindabad")

Ali
hello

Ahmed
hello

pakistan zindabad

In [19]:
from typing import Tuple
data_base : list[tuple[str,str]] = [("Qasim",'123'),("Sir Zia",'234')]

for row in data_base:
    user,password = row
    print(user, password)# unzipping concept

Qasim 123
Sir Zia 234

for-else can be used in python
when all iterations are done but still not so else block will run

In [21]:
#simple authentication system
from typing import Tuple
data_base : list[tuple[str,str]] = [("Qasim",'123'),("Sir Zia",'234')]

input_user : str = input("Enter username")
input_password : str = input("Enter password")
for row in data_base:
    user,password = row
    if input_user == user and input_password == password:
         print("valid user")
         break

else:#if all iterations of for loop are performed then this else block of for loop will run
     print("not found or invalid username")

valid user

In [22]:
names: list[str] = ['Suhaib','Ali','Ahmed']
for name in names:
    print(name)
#we go in else block whe all iterations perform
else:
    print("Hello world")

Suhaib
Ali
Ahmed
Hello world

In [23]:
names: list[str] = ['Suhaib','Ali','Ahmed']
for name in names:
    print(name)

print("Hello world")

Suhaib
Ali
Ahmed
Hello world

In [24]:
names: list[str] = ['Suhaib','Ali','Ahmed']
#will give error if we do not give indentaion and also if no colon
for name in names:
    print(name)
    break #now else block will not run 
else:
    print("Hello world")

Suhaib

In [25]:
magicians : list[str] = ['alice','david','carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick")
#local variable can be accessed outside the body(last value that it contained)
print(f"I can't wait to see your next trick, {magician.title()}.\n ")

Alice, that was a great trick
David, that was a great trick
Carolina, that was a great trick
I can't wait to see your next trick, Carolina.

In [26]:
message = "Hello python world"
   print(message)
#unnessesary indentaion gives error

IndentationError: unexpected indent (3130555772.py, line 2)

numbers with loop
* range(start,end,step)

In [28]:
#generator function does not run itself,we have to perform iteration
range(10)

range(0, 10)

In [30]:
list(range(10))#starting 0 ,ending = n-1
#if we pass only one number it will take 2 nd position

[2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
list(range(2,10))#2 is inclusive and 10 is exclusive

[2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [33]:
for n in range(2,21,2):#no need of list because loop itself is performing iteration
     print(n)

2
4
6
8
10
12
14
16
18
20

In [34]:
#enumerate
#               0      1        2
magicians = ['alice','david','carolina']
list(enumerate(magicians))
#adds every element's index number
#returns tuple

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

In [35]:
#               0      1        2
magicians = ['alice','david','carolina']
for index,name in enumerate(magicians):
    print(index,name)

0 alice
1 david
2 carolina

In [36]:
#2's table
for n in range(2,11,2):
    print(n)

2
4
6
8
10

In [37]:
#2's table
for n in range(1,11):
    print(f"{2} X {n} = {n*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [38]:
squares : list[int] = []
for value in range(1,11):
    square = value**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

List Comprehensive

In [ ]:
#for items in item_list
      #loop body

#COMPREHENSIVE STYLE
 #[loop body for item in item_list]

In [39]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
for i in range(1,11):
   print(i**2)

#comprehensive style : all in one line
[i**2 for i in range(1,11)]

1
4
9
16
25
36
49
64
81
100

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [43]:
digits: list[int] = [1,2,3,4,5,6,7,8,9]
print(min(digits))#lowest value
print(max(digits))#highest value
print(sum(digits))#sum of all elements in the list

1
9
45

In [49]:
my_foods = ['pizza','falafel','carrot cake']
friend_foods = my_foods[:] # deep copy when we add slicing

print(my_foods)
print(friend_foods)

friend_foods[0] = 'Tikka'

print(my_foods)
print(friend_foods)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['Tikka', 'falafel', 'carrot cake']

TUPLES
* constant- cannot change
* immutable- cannot append or update

In [51]:
names:tuple[str]=("a",'b','c')
print(names[0])
print(names[0:2])

a
('a', 'b')

In [52]:
names:tuple[str]=("a",'b','c')
print(names[0])
print(names[0:2])
name[0] = "pakistan"#error because tuple cannot update

a
('a', 'b')

TypeError: 'str' object does not support item assignment

In [55]:
names:tuple[str]=("a",'b','c')
print(names)
names:tuple[str] = ("pakistan","b",'c')
print(names)
#can re assign value

('a', 'b', 'c')
('pakistan', 'b', 'c')

In [56]:
from typing import Any
data:tuple[Any] = ("A",[1,2,3],True)
print(data)

('A', [1, 2, 3], True)

In [58]:
data:tuple[Any] = ("A",[1,2,3],True)
data[1] ="b" #error
print(data)

TypeError: 'tuple' object does not support item assignment

In [62]:
data:tuple[Any] = ("A",[1,2,3],True)
print(data)
data[1].append(20) #we can update the object
print(data)

('A', [1, 2, 3], True)
('A', [1, 2, 3, 20], True)